/* yang kiri sudah gabung css dengan Profile */
/* kiri */
.Edit-Profile-background {
  background-image: url("./Image/backgroundprofile.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 20px;
  color: #e1e1e1;
}

.background-dalem {
  width: 400px;
  height: 600px;
  background-color: #e1e1e1;
  margin-left: 250px;
  margin-top: 20px;
  border-radius: 2%;
  overflow: hidden;
}

.background-lebih-dalem > img {
  border-radius: 2%;
  height: 150px;
}

.X {
  position: absolute;
  margin-left: 82px;
  margin-top: -17px;
  height: 25px;
  width: 25px;
  padding: 0px;
  border-radius: 50%;
  background-color: #f62424;
}

.X > p {
  margin-left: 7px;
  font-family: fantasyy;
  color: white;
}

.card-body {
  background-color: #ffffff;
  width: 320px;
  margin-left: 300px;
  height: 250px;
}

.scroll-bawah {
  height: 239px;
  width: 416px;
  margin-top: 10px;
  border-radius: 3%;
}

.scroll-bawah > p {
  font-size: 30px;
  color: black;
  font-family: fantasy;
  margin-left: 10px;
}

.scroll-bawah > input {
  width: 381px;
}

.scroll-bawah > button {
  margin-left: 175px;
  background: linear-gradient(180deg, #ec7a7a 0%, #ec7ab7 100%);
  border-radius: 80px;
}

.scroll-bawah > textarea {
  width: 381px;
}

.scrol {
  overflow: hidden;
}

.scroll-atas {
  height: 617px;
  width: 415px;
  overflow: scroll;
}
